<div class="container" style="margin-top: 20px;" id="perfil" >
    <div class="main-body" >
      <div class="row gutters-sm">
        <!--RECUADRO DE FOTO Y NOMBRE-->
        <div class="col-md-4 mb-3">
          <div class="card">
            <div class="card-body perfilImagen">
              <div class="d-flex flex-column align-items-center text-center">
                <img [src]="usuario.imagen_usuario" class="rounded-circle" width="150">
                <div class="mt-3">
                  <h4 *ngIf="usuario"></h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card mb-3 perfil">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0"><b>Nombre de usuario:</b></h6>

                </div>
                <div class="col-sm-9">
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0"><b>Nombre:</b></h6>

                </div>
                <div class="col-sm-9">
                  
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0"><b>Apellidos:</b></h6>
                </div>
                <div class="col-sm-9">
                  
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0"><b>E-mail:</b></h6>
                </div>
                <div class="col-sm-9">
                  
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0"><b>Fecha de nacimiento:</b></h6>
                </div>
                <div class="col-sm-9">
                  
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0"><b>teléfono:</b></h6>
                </div>
                <div class="col-sm-9">
                  
                </div>
              </div>
            </div>
          </div>
          <div>
            <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#modificar">
              Modificar datos
            </button>
            <div class="modal fade" id="modificar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document" >
                <div class="modal-content" id="modificarDatos">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModal3Label">Modificar datos</h5>
                    <button type="button" class="close btn" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true" class="cerrarModal">&times;</span>
                    </button>
                  </div>
                    <!--<app-modificar-usuario></app-modificar-usuario>--><!--Modificar-usuario-->
                </div>
              </div>
            </div>
            <button type="button" class=" ml-md-3 ml-2 btn btn-outline-dark" data-toggle="modal" data-target="#cambiar_pass">
              Cambiar contraseña
            </button>
            <div class="modal fade" id="cambiar_pass" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document" >
                <div class="modal-content" id="modificarDatos">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModal3Label">Cambiar contraseña</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true" class="cerrarModal">&times;</span>
                    </button>
                  </div>
                    <!--<app-modificar-pass></app-modificar-pass>--><!--Modificar contraseña-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
