<div class="container-fluid mt-100">
  <div class="row">
    <div class="col-md-12">
      <div class="card my-4">
        <div class="card-header">
          <div class="ml-2 text-center">
            <h3>{{tema.nombre_tema}}</h3>
            <span class="text-muted small">{{tema.nombre_usuario}} / {{tema.fch_hora_tema}}</span>
          </div>
        </div>
        <div class="card-body ml-5">
            <p style="font-size: larger;">{{tema.comentario_tema}}</p>
            <h5 class="mt-5">Comentarios</h5>
            <div class="px-4 pt-3" *ngFor="let comentario of comentarios"> 
              <span class="badge badge-secondary">{{comentario.nombreUsuario}}</span>
              <span class="badge badge-secondary ml-2">{{comentario.fchHoraComentario}}</span>
              <p>
                {{comentario.comentario}}
              </p>
              <hr />
            </div>
        </div>
        <div class="card-footer">
          <button type="button" class="btn btn-outline-dark float-left" routerLink="/foro"><i class="fa fa-arrow-left" aria-hidden="true"></i> Volver al Foro</button>
          <button type="button" class="btn btn-outline-dark float-right" *ngIf="isLogged"  data-toggle="modal" data-target="#comentario">¡Deja tu comentario!</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="comentario" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Escribe aquí tu comentario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="forma" (ngSubmit)="dejarComentario()">
          <div class="form-group">
            <label for="comentario">Comentario</label>
            <textarea name="comentarioTema" 
            type="text" 
            class="form-control" 
            id="comentarioTema" 
            placeholder="Añade tu mentario al Tema" 
            required="required"
            formControlName="comentarioTema"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-outline-light" (click)="dejarComentario()">Guardar</button>
      </div>
    </div>
  </div>
</div>
