<div class="container-fluid mt-100">
  <div class="row">
      <div class="col-md-12">
          <div class="card my-4">
              <div class="card-header">
                  <div class="media flex-wrap w-100 align-items-center"> 
                      <div class="ml-2">{{tema.nombre_usuario}}
                          <div class="text-muted small">{{tema.fch_hora_tema}}</div>
                      </div>
                  </div>
              </div>
              <div class="card-body ml-5">
                  <h3>{{tema.nombre_tema}}</h3>
                  <p>{{tema.comentario_tema}}</p>
                  <h3>Comentarios</h3>
                  <div class="px-4 pt-3" *ngFor="let comentario of comentarios"> 
                    {{comentario.comentario}}<br/>
                    {{comentario.nombreUsuario}}<br/>
                    {{comentario.fchHoraComentario}}<br/>
                  </div>
              </div>
              <div class="card-footer px-0 pt-0 pb-3">
              </div>
          </div>
      </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Añade tu comentario</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                    <label for="comentario">Comentario</label>
                    <input ngmodel="comentario" name="comentario" type="text" class="form-control" id="comentario" placeholder="Comentario">
                    <small id="comentario" class="form-text text-muted">Introduce el comentario</small>
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button (click)="guardar()" type="button" class="btn btn-primary">Guardar</button>
        </div>
      </div>
    </div>
  </div>