<div class="jumbotron">
  <h1 class="display-4">{{tema.nombreTema}}</h1>
  <p class="lead">{{tema.fchHoraTema}}</p>
  <hr class="my-4">
  <p>{{tema.comentarioTema}}</p>
    <ul>
      <li *ngFor="let comentario of comentarios">
        <p></p>
      </li>
    </ul>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Comentar
      </button>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Añade tu comentario</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                    <label for="comentario">Comentario</label>
                    <input ngmodel="comentario" name="comentario" type="text" class="form-control" id="comentario" placeholder="Comentario">
                    <small id="comentario" class="form-text text-muted">Introduce el comentario</small>
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button (click)="guardar()" type="button" class="btn btn-primary">Guardar</button>
        </div>
      </div>
    </div>
  </div>