<!-- Menú de navegación -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
  <a class="navbar-brand" href="#">Solex</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- Menú de navegación de la página web, aqui están todas las rutas de este -->
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/"><i class="fas fa-home"></i> Inicio</a>
    </ul>
    <!-- Iniciar sesión o cerrar sesión dependiendo de si el usuario está logeado o  no -->
    <form class="form-inline my-2 my-lg-0">
      <!-- Botón que aparece en el caso de que el usuario no esté logeado para que este pueda iniciar sesión -->
      <button *ngIf="!isLogged" class="btn btn-outline-success my-2 my-sm-0" routerLink="/login" type="submit">
        <i class="fas fa-sign-in-alt"></i> 
        Iniciar Sesión
      </button>
      <!-- Botón que aparece en el caso de que el usuario esté logeado para que este pueda cerrar sesión -->
      <button *ngIf="isLogged" class="btn btn-outline-danger my-2 my-sm-0" (click)="onLogOut()" type="reset">
        <i class="fas fa-sign-in-alt"></i>
        <i class="fas fa-door-open"></i> 
        Cerrar Sesión
      </button>
    </form>
  </div>
</nav>
