<div class="text-center">
    <h4 class="mb-0">Foro SOLEX</h4>
    <p class="text-muted">Consulta temas creados por otros usuarios o crea los tuyos propios</p>
</div>
<div class="container">
    <div class="main-body p-0">
        <div class="inner-sidebar">
            <div class="justify-content-center">
                <button *ngIf="isLogged" class="btn btn-block btn-outline-dark my-2 my-sm-0" routerLink="/nuevo-post" type="button">
                    Nuevo Tema
                </button>
            </div>
        </div>
        <div>
            <!--LISTADO DE TEMAS-->
            <div class="p-2 p-sm-3">
                <div class="card mb-2" *ngFor="let tema of temas">
                    <div class="card-body p-2">
                        <div>
                            <div>
                                <h6 class="text-body">{{tema.nombreTema}}</h6>
                                <p class="text-secondary">{{tema.comentarioTema}}</p>
                                <p class="text-muted"><span class="text-secondary font-weight-bold">{{tema.fchHoraTema}}</span></p>
                            </div>
                            <button type="button" class="btn" [routerLink]="['/comentarios', tema.id_tema]">Ver Tema</button>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>