<div class="cookies" [hidden]="!visible" *ngIf="cookieExist==false">
    <div class="alert alert-warning cuadro_cookies" role="alert" >
      <p>
        <b>GDPR (General Data Protection Regulation - Reglamento General Protección de Datos)</b><br>
          Utilizamos cookies propias y de terceros para mejorar nuestros servicios y mostrarte publicidad relacionada con tus 
          preferencias mediante el análisis de tus hábitos de navegación.
          Puede obtener más información en nuestra <a href="assets/pdfs/politica_cookies.pdf" download="Política de cookies">Política de Cookies.</a>
          Pulse el botón ACEPTAR, para confirmar que ha leído y aceptado la información presentada. Después de aceptar no volveremos a 
          mostrar mensaje.
      </p>
      <button type="button" class="btn btn-dark boton_aceptar" (click)="aceptarCookies()">Aceptar</button>
    </div>
  </div>
