<div>
    <h1 style="margin:10px 0px 20px 20px ;">{{alojamiento.nombre | uppercase}}</h1>
    <div class="row">
      <div class="col-md-3">
        <img [src]="alojamiento.imagen | noImagePipe" class="img-fluid mb-md-2"/><br/>
        <br/><br/>
        <button class="btn btn-outline-dark btn-block" [routerLink]="['/alojamientos-lista']">Volver</button>
      </div>
      <div class="col-md-5 offset-1">
        <h3>{{alojamiento.nombre}}</h3>
        <hr/>
        <p>{{alojamiento.descripcion}}</p>
        <button type="button" class="btn btn-primary" data-dismiss="modal">RESERVAR</button>
      </div>
    </div>    
  </div>
  