<!--FORMULARIO DEL NUEVO TEMA-->
<form [formGroup]="forma" (ngSubmit)="anadirTema()">
    <div class="text-center">
        <h4 class="mb-0">Crea un Tema para nuestro Foro</h4>
    </div>
    <div>
        <div class="form-group">
            <label for="threadTitle">Nombre del Tema</label>
            <input ngmodel="nombre" name="nombre" type="text" class="form-control" id="nombre" placeholder="Introduce el nombre del nuevo Tema" required="required" autofocus="" />
        </div>
        <div class="form-group">
            <label for="descr">Descripción del Tema</label>
            <textarea ngmodel="descr" name="descr" type="text" class="form-control" id="descr" placeholder="Descripción del Tema" required="required"></textarea>
        </div>
    </div>
    <div>
        <input class="btn btn-light btn-block" type="submit" value="Crear"/>
    </div>
</form>