<div class="card bg-light mb-3 p-md-0" *ngIf="alojamiento">
    <div> 
        <img class="card-img-top mt-3 p-3" width="480px" height="320px" [src]="alojamiento.imagen | noImagePipe">
        <div class="card-body">
            <h5 class="card-title">{{alojamiento.nombre}}</h5>
            <p class="card-text">{{alojamiento.descripcion | slice:0:this.NUM_CARACTERES}}{{puntos_suspensivos()}}</p>
        </div>
    </div>
    <a class="btn btn-dark btn-block" href="{{alojamiento.url}}" style="cursor: pointer;" target="_blank">Información>Información</a>
</div>
  
