/* You can add global styles to this file, and also import other style files */
.titulo{
    font-size: x-large;
}
.navegacion{
    background-color: #00AB39;
    font-size: large;
}
.negro{
    color:black;
}

.negro:hover{
    color:black;
}

.footer{
    background-color: rgb(36, 34, 34);
    color: white;
}

.blanco{
    color:white;
}

.blanco:hover{
    color:white;
}
