/* ESTILOS CSS PARA TODA LA APLICACIÓN */

/* Para los campos que tengan la clase título  */
.titulo{
    font-size: x-large;
}

/* Para los campos que tengan la clase navegacion  */
.navegacion{
    background-color: #00AB39;
    font-size: large;
}


/* Para los campos que tengan la clase negro, pondra la letra de color negro */
.negro{
    color:black;
}

/* Para los campos que tengan la clase negro, se pondra de color negro al pasar por encima  */
.negro:hover{
    color:black;
}

/* Estilos para el footer de la página */
.footer{
    background-color: rgb(36, 34, 34);
    color: white;
}

/* Para los campos que tengan la clase blanco, pondra la letra de color blanco */
.blanco{
    color:white;
}

/* Para los campos que tengan la clase blanco, se pondra de color blanco al pasar por encima  */
.blanco:hover{
    color:white;
}

/* Estilos para el carousel de la página */
.carousel-inner{
    max-height: 450px; 
    overflow: hidden;
}

/* Se le añade un sombreado a las etiquetas que tengan esta clase */
.SombraCaja{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

/* Clase para los footers de los modales */
.modal-footer{
    background-color: #343A40;
}

/* Clase para los headers de los modales */
.modal-header{
    background-color: #00AB39;
}

/* Clase el buscador de las poblaciones */
.buscador{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

/* Clase para el input del buscador */
.buscador input{
    border: 0;
    box-shadow: none;
    font-size: la;
}

/* Clase pera el foco de los input y el buscador */
.buscador input:focus{
    box-shadow: none;
}

/* Clase para el botón del buscador */ 
.buscador button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: black;
    padding: 0 10px 0 10px;
    border: none
}

/* Clase para el foco del botón del buscador */
.buscador button:focus{
    box-shadow: none;
}

/* Clase para el buscador de temas */
.buscadorTema {
    position:relative;
    float:right;
    top:-80px;
    right:15px;
    z-index:300;
}

/* Clase para buscar tema */
.buscarTema {
    position:absolute;
    z-index: 300;
    right:0;
}

/*COOKIES*/

/* Clase para el recuadro de cookies */
.cuadro_cookies{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    position: fixed;
    color: black;
    top: 120px;
    left: 30%;
    width: 40%;
    z-index: 100000;
    border: 6px #343A40 solid;
    text-align: justify;
    background-color: white;
}

/* Clase para las cookies */
.cookies{
    height: 100%;
    top: 0px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.459);
    position: fixed;
}


/* MEDIAS QUERIES */

@media only screen and (max-width: 1280px) {

}

@media only screen and (max-width: 1024px) {
    
}

@media only screen and (max-width: 768px) {

}
  
@media only screen and (max-width: 576px) {
    .buscadorTema{
        position: unset;
        float:unset;
    }

    .buscarTema{
        position: unset;
    }

    h3{
        font-size: 1.5rem;
    }

    .card-footer .btn{
        float:unset !important;
        width: 100%;
    }
}
  
@media only screen and (max-width: 375px) {
    .nav-tabs{
        justify-content: center;
    }
}

@media only screen and (max-width: 280px) {

}


/*
@media (width:375px) and (height:810px)  {
    html, body, head{
        width: 375px;
        height: 810px;
    }
}

@media (width:1024px) and (height:1366px)  {
    html, body, head{
        width: 1024px;
        height: 1366px;
    }
}

@media (width:280px) and (height:653px)  {
    html, body, head{
        width: 280px;
        height: 653px;
    }
}

@media (width:1280px) and (height:950px)  {
    html, body, head{
        width: 1280px;
        height: 950px;
    }
}

@media (width:414px) and (height:736px)  {
    html, body, head{
        width: 414px;
        height: 736px;
    }
}*/