<div class="container">
    <h3>Turismo extremeño</h3>
    <div class="row">
      <p class="col-md-5 col-12 ml-2">
          Somos una empresa que elabora mermelada casera, que fabricamos al estilo tradicional; 
          es una mermelada artesanal fabricada con productos de temporada de calidad superior seleccionados en origen<br/><br/>
          Renunciamos a  producir cantidad para centrarnos en obtener la mejor calidad, que solo es posible si hacemos la mermelada en el momento 
          justo de recolección de cada ingrediente: las fresas, los melocotones, los pimientos… cada uno recogido en plena temporada, 
          y tratado de manera inmediata.<br/><br/>
      </p>
      <div class="col-md-5 offset-md-1 col-12 mt-2 mt-md-2"><img src="assets/img/teatro_romano.jpg" class="img-fluid"/></div>
  </div>
  <hr />
  <!--Video elaboración-->
  <h3>Paisajes de Extremadura</h3>
  <div class="embed-responsive embed-responsive-16by9 col-md-6 col-12 offset-md-3 mt-3 mb-3" id="videoYT">
    <iframe width="1280" height="720" src="https://www.youtube.com/embed/0hA25yIVjHk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>
