<!--Conetenedor Principal-->
<div class="container">
    <h2 class="text-center">Turismo por Extremadura</h2>
    <h5 class="text-center">Descubre qué visitar, ver y hacer para aprovechar tu viaje. ¡Siente la experiencia, vive Extremadura!</h5>
    <p class="text-center">
      Un destino cercano, tranquilo y seguro donde reencontrarse con la naturaleza, pasear por las dehesas y descubrir espacios protegidos. <br/>
      Donde disfrutar de cielos limpios para ver estrellas y aves que sobrevuelan paisajes excepcionales y donde zambullirse en aguas cristalinas. <br/>
      Déjate sorprender por el patrimonio, la cultura y la gastronomía de nuestros pueblos y ciudades y practica tu deporte favorito al aire libre. <br/><br/>
    </p>
    <div><img src="assets/img/teatro_romano.jpg" class="img-fluid"/></div>
  <hr/>
  <!--Video-->
  <h3>Paisajes de Extremadura</h3>
  <div class="embed-responsive embed-responsive-16by9 col-md-6 col-12 offset-md-3 mt-3 mb-3" id="videoYT">
    <iframe width="1280" height="720" src="https://www.youtube.com/embed/0hA25yIVjHk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  
</div>
