<!--Buscador principal-->
<div class="container">
	<div class="row">
        <div class="col-6 mx-auto" id="localizaciones">
    		<h2 class="text-uppercase">Encuentra lo que necesistes</h2>
            <form id="buscador" class="form-inline">
                <div class="input-group col-12">
                    <!--Formulario del Buscador-->
                    <input type="text" class="form-control input-lg" placeholder="Buscar" (keyup.enter)="buscar(buscarTexto.value)" #buscarTexto/>
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="button" (click)="buscar(buscarTexto.value)">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </span>
                </div>
            </form>
        </div>
	</div>
</div>
<div class="card-columns mt-5">
    <div *ngFor="let foo of localizacionesEncontradas">
        <p>{{foo.nombre}}</p>
    </div>
</div>