<!--Buscador principal-->
<div class="container">
	<div class="row">
        <div class="col-6 mx-auto" id="localizaciones">
    		<h2 class="text-uppercase">Buscar poblaciones</h2>
            <form id="buscador" class="form-inline">
                <div class="input-group col-12">
                    <!--Formulario del Buscador-->
                    <input type="text" class="form-control input-lg" placeholder="Buscar" (keyup.enter)="buscar(buscarTexto.value)" #buscarTexto/>
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="button" (click)="buscar(buscarTexto.value)">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </span>
                </div>
            </form>
        </div>
	</div>
</div>
<!-- Localizaciones del buscador -->
<div *ngIf="ver">
    <h2>Poblaciones encontradas</h2>
    <div class="card-columns">
        <div class="card bg-light mb-3 p-md-0" *ngFor="let localizacion of localizacionesEncontradas">
            <div> 
                <img class="card-img-top mt-3 p-3"  width="480px" height="320px" [src]="localizacion.imagen | noImagePipe">
                <div class="card-body">
                    <h5 class="card-title">{{localizacion.nombre}} | {{localizacion.comarca}}</h5>
                </div>
            </div>
            <a class="btn btn-dark btn-block informacionBoton" href="{{localizaciones.url}}" style="cursor: pointer;" target="_blank">
                Información
            </a>
        </div>
    </div>
</div>
<!-- Lista de localizaciones -->
<div *ngIf="!ver">
    <h2>Estas son algunas de las poblaciones extremeñas</h2>
    <div class="card-columns">
        <div class="card bg-light mb-3 p-md-0" *ngFor="let localizacion of localizaciones">
            <div> 
                <img class="card-img-top mt-3 p-3"  width="480px" height="320px" [src]="localizacion.imagen | noImagePipe">
                <div class="card-body">
                    <h5 class="card-title">{{localizacion.nombre}} | {{localizacion.comarca}}</h5>
                </div>
            </div>
            <a class="btn btn-dark btn-block informacionBoton" href="{{localizaciones.url}}" style="cursor: pointer;" target="_blank">
                Información
            </a>
        </div>
    </div>
</div>