
#localizaciones{
    margin: 120px;
}

#localizaciones h2{
    margin-left: 26px;
}

#buscador{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#buscador input{
    border: 0;
    box-shadow: none;
    font-size: la;
}

#buscador button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: black;
    padding: 0 10px 0 10px;
    border: none
}

.fa-search{
    font-size: 23px;
}