<!-- Footer -->
<div class="card container-fluid pl-5 mt-2">
  <!--Contacto-->
  <div class="row">
    <div class="card-body col-md-4">
      <h5 class="card-title">Contacto</h5>
      <p class="card-text">Nº Teléfono: *********</p>
      <p class="card-text">E-mail: solexturismo@gmail.com</p>
      <p class="card-text">Dirección: </p>
    </div>
  </div>
</div>
<!--Enlaces a documentos legales, etc-->
<div>
  <p class="text-center text-muted pt-3 letra_negra">
      © 2021 - Solex
      <a href="#" class="card-text mx-5">Bases Legales</a>
      <a href="#" class="card-text mx-5">Política de Privacidad</a>
      <a href="#" class="card-text mx-5">Política de Cookies</a>
  </p>
</div>

