<!-- Footer -->
<div class="card container-fluid pl-5 mt-2 footer">
  <!--Enlaces a las redes sociales-->
  
  <!--Contacto-->
  <div class="row">
    <div class="card-body col-lg-12 col-md-12 col-sm-12">
      <div class="row mb-2">
        <h5 class="card-title">Contacto</h5>
        <div class="img-pulgar ml-4 mr-2">
          <a href="https://www.instagram.com/" target="_blank"><img src="assets/img/instagram.png" class="img-fluid" width="30px" height="30px"/></a>
        </div>
        <div class="img-pulgar mr-2">
          <a href="https://twitter.com/" target="_blank"><img src="assets/img/Twitter.png" class="img-fluid" width="30px" height="30px"/></a>
        </div>
        <div class="img-pulgar mr-2">
          <a href="https://es-es.facebook.com/" target="_blank"><img src="assets/img/facebook.png" class="img-fluid" width="30px" height="30px"/></a>
        </div>
        <div class="img-pulgar mr-2">
          <a href="https://mail.google.com/mail/u/0/" target="_blank"><img src="assets/img/gmail.png" class="img-fluid" width="30px" height="30px"/></a>
        </div>
      </div>
      <p class="card-text">Nº Teléfono: *********</p>
      <p class="card-text">E-mail: solexturismo@gmail.com</p>
      <p class="card-text">Dirección: </p>
    </div>
  </div>
  <!--Enlaces a documentos legales, etc-->
  <div class="footer pb-2 col-lg-12 col-md-12 col-sm-12">
    <p class="text-center text-muted pt-3 blanco">
        © 2021 - Solex
        <a href="#" class="card-text mx-5 blanco">Bases Legales</a>
        <a href="#" class="card-text mx-5 blanco">Política de Privacidad</a>
        <a href="#" class="card-text mx-5 blanco">Política de Cookies</a>
    </p>
  </div>
</div>


