<!-- Footer -->
<div class="card container-fluid pl-5 mt-2 footer">
  <!--Contacto y enlaces a las redes sociales-->
  <div class="row">
    <div class="card-body col-lg-12 col-md-12 col-sm-12">
      <div class="row mb-2">
        <h5 class="card-title">Contacto</h5>
        <div class="img-pulgar ml-4 mr-2">
          <a href="https://www.instagram.com/" target="_blank"><img src="assets/img/instagram.png" class="img-fluid" width="30px" height="30px"/></a>
        </div>
        <div class="img-pulgar mr-2">
          <a href="https://twitter.com/" target="_blank"><img src="assets/img/Twitter.png" class="img-fluid" width="30px" height="30px"/></a>
        </div>
        <div class="img-pulgar mr-2">
          <a href="https://es-es.facebook.com/" target="_blank"><img src="assets/img/facebook.png" class="img-fluid" width="30px" height="30px"/></a>
        </div>
      </div>
      <p class="card-text">Nº Teléfono:  *********</p>
      <p class="card-text">E-mail: solexturismo@gmail.com</p>
    </div>
    <!--Enlaces a documentos legales, etc-->
    <div class="footer pb-2 col-lg-12 col-md-12 col-sm-12">
      <p class="text-muted pt-3 blanco row">
          <span class="col-lg-3 col-md-3 col-sm-12">© 2021 - Solex<br/></span>
          <a href="assets/pdfs/bases_legales.pdf" download="Bases legales" class="card-text col-lg-3 col-md-3 col-sm-12 blanco">Bases Legales </a>
          <a href="assets/pdfs/politica_de_privacidad.pdf" download="Política de privacidad" class="card-text col-lg-3 col-md-3 col-sm-12 blanco">Política de Privacidad </a>
          <a href="assets/pdfs/politica_cookies.pdf" download="Política de cookies" class="card-text col-lg-3 col-md-3 col-sm-12 blanco">Política de Cookies </a>
      </p>
    </div>
  </div>
</div>
